$info-bar-text-colour:				white;
$variable-text-colour:				red;
$background-color:					black;
$text-colour:						white;

$button-text-colour:				white;
$button-background-colour:			#008CBA;

$game-satus-default-colour:			black;

$info-board-background:				white;
$info-board-text-colour:			black;
$info-board-disabled-colour:		grey;
$info-board-disabled-hover:			white;