@import url(https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap);
@import '../../default-styles/colours.scss';

.chuckie-egg-play-container {
	width: 100%;
	height: 100vh;
	font-family: 'Press Start 2P', cursive;
	color: $text-colour;
	overflow-y: hidden;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

@media (max-width: 600px) {
	.chuckie-egg-play-container {
		height: 90vh;
	}
}
